div{
    background-color: bisque;
}

h2{
    margin: 5px 0;
    padding: 4px 0;
}

p{
    padding-bottom: 10px;
}

.btn-primary{
    margin: 8px 0 10px 0;
}

.list-group-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-group-item button{
    display: none;
}

.list-group-item:hover button{
    display: inline;
}